@import-normalize; /* bring in normalize.css styles */
$green: #24a07c;
$orange: #ff7800;
$blue: #1a84b7;

$tab-bgc: #ebe7d9;
$dates-bgc: #f7f7f7;

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.calendar {
  width: 60%;
  min-width: 600px;
  margin: 0 auto;
  background-color: #fff;

  .fb-50per {
    flex-basis: 50%;
  }
  .fb-100per {
    flex-basis: 100%;
  }

  .month-wrapper {
    display: flex;
    background-color: $tab-bgc;
    cursor: pointer;
    box-sizing: border-box;
    padding-top: 5px;

    .on {
      flex-basis: 5%;
      background-color: $tab-bgc;
      position: relative;
    }

    .prev {
      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 10px solid;
        border-color: transparent tomato transparent transparent;
        top: 15px;
        left: 0px;
      }
    }

    .next {
      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 10px solid;
        border-color: transparent transparent transparent tomato;
        top: 15px;
        right: 0px;
      }
    }

    .tab-wrapper {
      flex-basis: 90%;

      display: flex;

      .tab {
        flex-basis: calc(100% / 3);
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;

        span {
          text-align: center;
          font-size: 14px;
        }

        .desc {
          font-size: 12px;
          font-weight: bold;
          color: $green;
        }
      }

      .tab.clicked {
        background-color: #fff;
        color: tomato;
      }
    }
  }

  .week-wrapper {
    width: 100%;
    display: flex;

    div {
      flex-basis: calc(100% / 7);
      line-height: 2;
      text-align: center;
      font-weight: bold;
    }
  }

  .dates-wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: $dates-bgc;
    border: 2px solid #f7f7f7;

    .date {
      flex-basis: calc((100% - 6px) / 7);
      height: 80px;
      margin-right: 1px;
      margin-bottom: 1px;

      &:nth-child(7n) {
        margin-right: 0px;
      }

      transition: 0.1s;
    }

    .disabled {
    }

    .has-data {
      display: flex;
      flex-wrap: wrap;
      background-color: #fff;
      box-sizing: border-box;
      padding: 1px;
      cursor: pointer;
      &:hover {
        background-color: #fef7e2;
      }

      .color-orange {
        color: $orange;
      }

      .color-green {
        color: $green;
      }

      .color-blue {
        color: $blue;
        font-weight: bold;
      }

      .item {
        line-height: 1.2;
      }

      .tag {
        display: none;

        background-color: #ff7800;
        color: #fff;
        font-weight: bold;
        text-align: center;
        box-sizing: border-box;
        padding: 2px;
      }

      .tag.show-tag {
        display: block;
      }

      .status {
        font-weight: bold;
      }

      .price {
        color: tomato;
        // font-weight: bold;
      }

      .see-more {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border: 5px solid;
          border-color: transparent transparent transparent $blue;
          top: 1px;
          left: 62px;
        }
      }
    }

    .has-data.clicked {
      background-color: #fef7e2;
      outline: 1.5px solid #66bb3c;
      z-index: 1;
    }
  }
}
